// app global css
body{
	background: #272B36;
	color:rgba(255,255,255,0.6);
}
a{
	text-decoration:none;
	color: #997ABD;
}

tbody, thead, th{
	color: white !important;
	border:none;
}

#header{
	height:50px;
	background: #1E2128;

}
.pagewidth{
  width:80%;
}

.q-tab-pane{
	background-color: #1E2128;
}

.text-brand {
  color: #491289;
}
.bg-brand {
  background: #491289;
}
.text-mypurple {
  color: #491289;
}
.bg-mypurple {
  background: #491289;
}
.text-mydark {
  color: #1E2128;
}
.bg-mydark {
  background: #1E2128;
}

.text-mywhite{
  color: rgba(255,255,255,0.6)
}
.bg-mywhite{
  background: rgba(255,255,255,0.6)
}


.q-tab.active { border-top: 2px solid white;}
.q-tabs-position-top .q-tabs-bar {border-bottom-width: 0px;}


.rounded{
  border-radius:2px;
}

.big{
  color: rgba(255,255,255, 0.9);
  font-size:2.3vh; 
}

.small{
  color: rgba(255,255,255, 0.7);
  font-size:1.2vh;
}

    #top_search{
      min-width:250px;
    }

.q-input-target{
  color:white
}
@media only screen and (max-width: 645px) {
    .pagewidth {
        width:97%;
    }
    #logo{
      margin-left:-50px;
   
    }
}

@media only screen and (max-width: 450px) {

    #logo{
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      margin-left:-150px;
    }
    #top_search{
      min-width:200px;
   
    }


}