	html, body{
		margin:0;
		padding:0;
		height:100%;
	}
	a {
	  color: black;
	  text-decoration: none; /* no underline */
	}
	#container {
	   min-height:100%;
	   position:relative;
	}

	.main{
		margin: 0 auto;
		overflow: auto;
		width:1000px;
		padding-top:20px;
		padding-bottom:120px; /*height of footer + space*/
		box-sizing: border-box;
		min-height:500px;
		overflow: hidden;
	}
	.header{
		height:60px;
		width:100%;
		background-color:black;
		color:white;
		line-height:60px;
	}
	.logo{
		padding-left:30px;
		font-family: verdana;
		background-image: url(../images/eosdaclogo.png);
		background-size:25px;
		background-position: left center;	
		background-repeat: no-repeat;
		margin-left:20px;
		display:inline-block;
		cursor:pointer;
	}
	.footer{
		position:absolute;

   bottom:0;
   width:100%;
		height:50px;
		background:black;
		color:white;
		/*margin-top:40px;*/
		box-sizing: border-box;
		width:100%;
		padding:10px;
		padding-left:30px;

	}

	.header_input{
		width:300px;
		padding-right: 40px !important;
	}
	.search_btn{
		position:absolute; 
		top:20px;
		right:10px;
		background-image: url(../images/search.svg);
		background-repeat: no-repeat;
		background-size: 20px;
		height:25px;
		width:25px;
		cursor:pointer;
	}

	.green{
		color: rgb(28, 184, 65);
	}
	.red{
		color: rgb(202, 60, 60);
	}
	.button-success {
		background: rgb(28, 184, 65); /* this is a green */
	}
	.button-error {
		background: rgb(202, 60, 60); /* this is a maroon */
	}
	.button-warning {
		background: rgb(223, 117, 20); /* this is an orange */
	}

    label{
    	margin-bottom:6px !important;
    }
    label span{
    	font-size:12px;
    }

    .column_title{
    	background:black;
    	color:white;
    	text-align: center;
    	height:30px;
    	line-height: 30px;
    	border-top-right-radius: 3px;
    	border-top-left-radius: 3px;

    }
 
    .pure-g{
    	margin-bottom: 30px;
    }
    .pure-u-1{
    	padding:5px;
    	box-sizing: border-box;

    }
    .pure-u-1-1{
    	padding:5px;
    	box-sizing: border-box;

    }
    form{
    	margin-left:8px;
    	margin-right: 8px;
    }


	.question{
    	float:right;
		font-family: verdana;
		background-image: url(../images/info.svg);
		background-size:15px;
		line-height: 30px;
		height:inherit;
		background-position: left center;	
		background-repeat: no-repeat;
		display:inline-block;	
		width:20px;
		height:30px;
	}

	.popupmessage{
		z-index:9999;
		position: fixed;
		color:white;
		padding:10px;
		left: 50%;
		top: 100px;
		transform: translate(-50%,-50%);
		width:600px;
		text-align: center;
		border-radius:4px;
	}





/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	.main{
		width:100%;
		padding-left:5px;
		padding-right:5px;
	}



}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
	.main{
		width:100%;
		padding-left:5px;
		padding-right:5px;
	}

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 430px) {
	.main{
		width:100%;
		padding-left:5px;
		padding-right:5px;
	}
			.logo{
		display:none;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.main{
		width:100%;
		padding-left:5px;
		padding-right:5px;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.main{
		width:100%;
		padding-left:5px;
		padding-right:5px;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.main{
		width:100%;
		padding-left:5px;
		padding-right:5px;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	.main{
		width:1000px;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	.main{
		width:1000px;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


.json-pretty {
    padding-left: 30px;
    padding-right: 30px;
}
.json-selected {
    background-color: rgba(139, 191, 228, 0.19999999999999996);
}

.json-string {
    color: #6caedd;
}

.json-key {
    color: #ec5f67;
}

.json-boolean {
    color: #99c794;
}

.json-number {
    color: #99c794;
}


.explorer_menu ul {
	list-style-type: none;
	margin:0;
	padding:0;
	font-size: 0;
	border-bottom: 2px solid black;
}
.explorer_menu li {
	font-size:16px;
	color: white;
	background-color:grey;
	padding:10px;
	margin:0px;
	display:inline-block;
	box-sizing: border-box;
	cursor: pointer;
	transition: background-color 400ms linear;
	border-right:1px solid #383838;
	/*background:linear-gradient(to bottom, white 0%, #dcdcdc 100%);*/

}
.explorer_menu li:hover {
	color: white;
	background-color:black;


}
.explorer_menu .active{
	background:black;
}
.explorer_menu li:first-child {
    border-top-left-radius: 4px;
}
.explorer_menu li:last-child {
    border-top-right-radius: 4px;
    border:0;
}
.x{
	padding-left:5px;
	padding-right:5px;
	box-sizing: border-box;
}







/*datatables*/
/*.tabel_processing_loader{
	width:100%;
	height:700px;
	position:absolute;
	top:0;
	left:0;
	background:blue;
	background-image: url(../images/table_loader.svg);
	background-size:50px;
	background-position: left center;	
	background-repeat: no-repeat;

}*/
.dataTables_info{
	border-radius:4px;
	margin-top:4px;
	padding:8px;
	color:grey !important;
	/*background:grey;*/
	font-size:12px;

}
.dataTables_paginate{
	font-size:12px;
}
.out{
	background: rgb(223, 117, 20);
	display:inline-block;
	width:24px;
	text-align: center;	
	color:white;
	border-radius: 5px;
	padding:5px;
	font-size:10px;
}
.in{
	background: rgb(28, 184, 65);
	display:inline-block;
	width:24px;
	text-align: center;	
	color:white;
	border-radius: 5px;
	padding:5px;
	font-size: 10px;
}
table a {
	color: rgb(115, 146, 196);
}

th { font-size: 13px; text-align: left; padding-left:10px !important;}
td { font-size: 12px; }

.italic{
	font-style: italic;
}

