// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------

$table-border-color = rgba(255,255,255,0.6);
$table-box-shadow = none;
$tabs-min-height = 60px;
$toolbar-min-height = 60px;